/* верх*/
body {
	width: 1366px;
    height: 950px;
    background-color: #f9f9f9;
    font-family: "Open Sans" sans-serif;
    font-size: 15px;
}
.container {
	width: 1060px;
	height: 950px;
	margin: 0 auto;
	background: #060606;
}

.logo {
	padding-left: 46px;
	padding-top: 50px;
	padding-bottom: 40px;
}
.menu {
	height: 40px;
	margin-left: 46px;
	margin-right: 48px;
	background-color: #504f4f;
}
.button {
	display: inline-block;
	width: 100px;
	height: 40px;
	text-decoration: none;
	color: white;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin-right: 40px;
}
.button:hover {
	background-color: #403e3e;
	cursor: pointer;
}

 .sidebar {
 	float: left;
 	height: 240px;
 	width: 240px;
 	padding-left: 46px;
 	padding-top: 40px;
 }
 .button1 {
 	width: 240px;
 	height: 40px;
 	text-decoration: none;
 	color: black;
 	vertical-align: middle;
 	padding-left: 24px;
 }

 .sidebar_button {
 	display: inline-block;
 	width: 240px;
 	height: 40px;
 	line-height: 40px;
 	border: 1px #c2bfbf solid;
 }

 li:hover {
 	background-color: #fbfafa;
 	cursor: pointer; 
 }

 li:hover a {
 	padding-left: 40px;
 }
 .photo {
 	margin-top: 40px;
 	margin-right: 48px;
 	border: 1px #c2bfbf solid;
 	width: 670px;
 	height: 400px;
 	float: right;
 }
 .pic {
 	display: block;
 	margin: 0 auto;
 	padding-top: 45px;
 }

 .text_box {
 	width: 678px;
 	height: 160px;
 	float: right;
 	margin-top: 40px;
 	margin-right: 48px;
 	text-align: left;
 }
 .text {
 	padding-left: 24px;
 }
.menu1 {
	height: 40px;
	margin-left: 46px;
	margin-right: 48px;
	background-color: #e1dbdb;
}
.clear {
	clear: both;
}
.button2 {
	display: inline-block;
	width: 100px;
	height: 40px;
	text-decoration: none;
	color: black;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	margin-right: 40px;
}
.button2:hover {
	text-decoration: underline;
	cursor: pointer;
}

.copyright {
	display: inline-block;
	float: right;
	padding-right: 25px;
	line-height: 40px;
	vertical-align: middle;
}






