.box1 {
	width: 340px;
	height: 20px;
	background: white;
	margin: 10px 50px  avto 50px;
	padding: 20px 80px 50px;
	font-family: Open Sans;
	font-size: 50px;

	line-height: 15px;


}
.main {
	margin-left: -5px;
}


nav ul li {
	display: inline-block;
	background-color: gray;
	vertical-align: middle;
	border-right: 1px solid gray;
	padding: 15px 15px;
    margin-left: -5px;
    margin-right: 1px;
   
    font-size: 27px;
    

}

a:link {
	color: #211f1f;
	padding: 5px;
	text-decoration: none; 
	
}

a:hover {
	background: #433d3d;
	color: white;
	padding: 13px 20px;
}

li {
	list-style-type: none;
}



nav ul li a {
	color: white;
	
}

 

.layout {
	width: 1000px; margin: 0 auto 10px background: white;
	
}
.sidebar, .content {
	position: absolute;
}
.sidebar {
	float: left 80px;
	height: 200px;
	width: 100px;
    background: white;
    margin-left: 150px;
    margin-top: 20px;
    padding: 20px 20px 50px;
	/*border: 1px solid black;*/
	overflow: auto;
	width: 10%;
	background: white;
	
}
.content {
	
	background: white;
	padding: 20px;
	margin-right: 80px;
	margin-left: 550px;
	width: 50%;
	border: 1px solid black;
}


.box  {
	float: left;
	height: 300px;
	width: 200px;
	background: white;
	border: 1px solid black;
	padding: 20px;
	margin: 3px 10px -5px 80px;
	width: 25%;
	font-size: 20px;
	
}

#menu {
	margin-bottom: 40px;
	background: 800px;
	background-color: grey;
	margin-left: 80px;
	margin-right: 80px;
}

.layer2 {
	float: right;
	background: 300px;
	background: white;
	border: 1px solid black;
	padding: 50px;
	margin-right: 80px;
	margin-left: 10px;
	width: 45%;
	

}

p .new:after {
	font-size: 15px;
	padding: 2px;
	margin-top: 50px;

}

a .bar {
	color: white;
	padding: 5px;
	text-decoration: none;
}

a .bar:hover {
	background: white;
	color: black;
	padding: 13px 20px;

}
